/* Custom Style Sheet  */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap');

body{
    font-family: 'Nunito';
}
.nav-link.active{
    color: red !important;
   border-bottom: 4px;
   border-color: red;
    padding-bottom: 5px;
}